.popup {
	position: absolute;
	height: calc(100% - 60px);
	width: 100%;
	right: 0;

	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;

	background: #0008;
	color: white;
}
